<h2 [hidden]="hide_exercises">SubWorkouts</h2>
<div [hidden]="hide_exercises">
  <li *ngFor="let sw of sub_workout_list">
    <a (click)="getExerciseGoals(sw)">{{sw.sub_workout_name}}</a>
  </li>
</div>

<div [hidden]="!hide_exercises">
  <h2>{{clickedSubWorkout.sub_workout_name}}</h2>
  <li *ngFor="let ex of exercise_goals">
    <a routerLink="/exercise/{{ex.exercise_id}}/{{ex.default_exercise}}">{{ex.exercise_name}}</a>
    <p>Sets: {{ex.goal_sets}}</p>
    <p>Reps: {{ex.goal_reps}}</p>
    <button (click)="deleteExerciseGoal(ex)">X</button>
  </li>
  <button (click)="deleteSubWorkout()">Delete SubWorkout</button>
  <div>
    <button (click)="hideExerciseGoals()">Back</button>
  </div>
</div>


<div [hidden]="hide_form">
  <form [formGroup]="formG" novalidate enctype="multipart/form-data">
    <input type="text" formControlName="sub_workout_name">
  </form>
  <button (click)="createSubWorkout()">sumbit</button>
</div>
<button [hidden]="!hide_form" (click)="deleteMainWorkout()">Delete MainWorkout</button>
<button [hidden]="!hide_form" (click)="hideCreateSWForm()" >Add New SubWorkout</button>
