<div class="container">
  <form [formGroup]="formG"  (ngSubmit)="onSubmit()" novalidate enctype="multipart/form-data">
    <div>
     <label>
        Exercise Name
        <input type="text" formControlName="exercise_name" >
      </label>
    </div>

    <div>
      <img class="image_style" #image >
      <input type="file" (change)="updateImgSrc()" #file>
    </div>

    <div>
      <label>
        Exercise Description
        <textarea rows="4" cols="50" formControlName="exercise_description">
      </textarea>
      </label>
    </div>

  </form>
  <div>
    <button (click)="addExercise()">
      button
    </button>
  </div>
</div>
