.site_container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: gainsboro;
}

.header div {
  width: fit-content;
  margin:0 auto;
}

.header h1 {
  text-align:center;
  color: blue;
  width: fit-content;
}

.header h1:hover {
  cursor: pointer;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header a:hover {
  background-color: deeppink;
}

.main_body {
  flex: 1;
  width:800px;
  margin:0 auto;
  padding-bottom: 3%;
}

.footer {
  background-color: gainsboro;
  text-align: center;
}

.footer a {
  color: white;
}

