.main_body {
  text-align: center;
}

.main_body img {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.main_body h2 {
  text-align:center;
}

.main_body a {
  color: deeppink;
}

.main_body li {
  color: blue;
}
