.image_style {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto
}

.main_body {
  width:800px;
  margin:0 auto;
  text-align: center;
}

.main_body img {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto
}

.main_body p {
  white-space: pre-line;
}
