div {
  width: 50%;
  margin: 0 auto;
}

.container {
  width:800px;
  margin:0 auto;
}

.main_body {
  text-align: center;
}

.main_body img {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
  padding-bottom: 20px;
}
